@media all and (max-width: 1280px) 
{
	.page
	{
		width: 100%;
	}
	section
		{
			flex-direction: column-reverse;
		}

	#droite/*ok*/
    	{
    		width: 100%;
    		text-align: justify-all;
    	}

	.puce1, .puce2, .expp1, .expp2, .expp3, #end
		{
			display: flex;
			flex-direction: column;
			margin: auto;
		}

	#end
		{
			flex-direction: column;
		}

	article
    	{
    		flex-wrap: nowrap;
    	}

    #gauche
    	{
    		width: 100%;
    	}

    #photo/*en cours*/
		{	
			left: 40%; 
			border-radius:50%; /*IE*/
		}

	#loisir
		{
			padding-bottom: 2px;
		}
} 


