@media all and (min-width: 320px) and (max-width: 800px)

{
	section
		{
			width: auto;
			flex-direction: column;
			size: 12px;
		}


	#droite
    	{
    		width: 75%;
    		text-align: justify;
 			margin-left: auto;
 			margin-right: auto;
    	}

	.trait_dessous
		{
			border-top: 2px solid #43A047;
			padding: 20px;
			width: 80%;
		}

	header p
		{
			width: auto;
		}

	ul
		{
			margin-left: -30px;

		}

	.puce1, .puce2, .expp1, .expp2, .expp3, #end
		{
			display: flex;
			flex-direction: column;
			margin: auto;
		}

	.puce11, .puce21, .expp11, .expp21, .expp31
{
	width: auto;
}

	h4
		{
			line-height: 40px
		}

	.up
		{
			text-align: center;
			margin: auto;
		}

	.fas
		{
			padding-left: 0;
		}

	#end
		{
			flex-direction: column;
			white-space: nowrap;
		}

	.banque
		{
			padding-bottom: 3px;
		}

	article
    	{
    		flex-wrap: nowrap;
    	}

    #gauche
    	{
    		width: 75%;
    		margin-left: auto;
    		margin-right: auto;
    		flex-direction: center;
    	}

    #photo
		{	
			left: 40%; 
			border-radius: 50%; /*IE*/
			top: 10px;
			overflow:hidden; /*gérer dépassement d'un élément dans un bloc*/
    		-webkit-border-radius:50px;/*safari*/
    		-moz-border-radius:50px; /*FF*/
    		border-radius:50%; /*IE*/
    		width:100px;
    		height: 100px;
    		margin-bottom: 35px;
    		margin-top: 20px;
		}

	.contact
		{
			padding: 20px;
			height: 250px
		}

	.apropo
		{
			height: auto;
		}
} 

@media all and (min-width: 320px) 
{

	
}
