html
{
	font-family: 'Caveat', cursive;
	font-family: 'Comic Neue', cursive;
	font-family: 'Satisfy', cursive;
	font-family: 'Bitter', serif;
	font-size: 13px;
}

body/*ok*/
{
	width: 21cm;

}

#gauche /*ok*/
{
	width: 25%;
}

#droite/*ok*/
{
	width: 75%;
}

#photo /*ok*/
{
	position: relative;
	top: 10px;
	left: 40px;
    overflow:hidden; /*gérer dépassement d'un élément dans un bloc*/
    -webkit-border-radius:50px;/*safari*/
    -moz-border-radius:50px; /*FF*/
    border-radius:50%; /*IE*/
    width:100px;
    height: 100px;
    margin-bottom: 35px;
    margin-top: 20px;
}

#head/*ok*/
{
	padding: 4em; 
}

.nat/*ok*/
{
	color: #43A047;
}

header > h3
{
	text-transform: uppercase;
	font-size: 10px;
}

section/*ok*/
{
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 1em;
}

.contact > p/*ok*/
{
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 1px;
}

.propos
{
	text-align: justify;
}

article > p/*ok*/
{
	padding: 25px;
}



.left
{
	align-self: flex-end;
}


#gauche/*ok*/
{
	background-color: #43A047;
}

.left/*ok*/
{
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	background-color: #212121;
	color: #43A047;
	flex-wrap: wrap;
}

.fas/*ok*/
{
	width: 20px;
	height: 20px;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid black;
	border-bottom: 0px;
	border-color: #212121;
	color: #212121;
}

#trait_dessus/*en cours*/
{
	border-top: 2px solid #43A047;

	width : 600px;
	
}

#loisir/*en cours*/
{
	justify-content: space-around;
}

article/*ok*/
{
	width: 100%;
	height: 1096.06px;
	background-color: #43A047;
}

#end/*ok*/
{
	display: flex;
	justify-content: space-between;
	margin-left: 40px;
	margin-right: 40px;
}

.banque/*ok*/
{
	width: 700px;
	padding-right: 50px;
}

.puce1/* toutes les puces en cours*/
{
	display: grid;
	grid-template-columns: [ext-gauche] 1fr [center] 2fr;
}

.puce1
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.puce2
{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.puce2
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.expp1
{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.expp1
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.expp2
{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.expp2
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.expp3
{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.expp3
{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.up/*en cours*/	
{
	display: flex;
	justify-content: space-between;
	padding-right: 100px;
}


