
html
{
	font-family: 'Caveat', cursive;
	font-family: 'Comic Neue', cursive;
	font-family: 'Satisfy', cursive;
	font-family: 'Bitter', serif;
	font-size: 13px;
}

body 
{
	overflow-x: hidden;
}

.page
{
	width: 210mm;
	height: 290mm;
	margin: auto;
}

section
{
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 1em;
}

#gauche 
{
	width: 30%;	
	background-color: #43A047;
	
}

#photo 
{
	position: relative;
	top: 10px;
	left: 65px;
    overflow:hidden; /*gérer dépassement d'un élément dans un bloc*/
    -webkit-border-radius:50px;/*safari*/
    -moz-border-radius:50px; /*FF*/
    border-radius:50%; /*IE*/
    width:100px;
    height: 100px;
    margin-bottom: 35px;
    margin-top: 20px;
}

.left
{
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	background-color: #212121;
	color: #43A047;
	flex-wrap: wrap;
}

#contact/*en cours*/ 
{
	margin-top: 1px;
	padding: 20px;
	height: 10px;
}

#contact p
{
	padding-left: 20px;
}

.apropo
{
	height: 500px
}

.apropo p
{
	padding: 20px;
	height: 10px;
	text-align: justify;
}


#loisir/*en cours*/
{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding-left: 5px;		
	padding-right: 5px;		
	height: 2%;				
}

#loisir .fas
{
	font-size: 20px;
	width: 20px;
	height: 20px;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid black;
	border-color: #212121;
	color: #212121;
}

#droite
{
	width: 70%;
}

#head
{
	padding: 20px; 
}

.dev
{
	border-bottom: 2px solid;
	border-color: #43A047;
	padding-bottom: 1px;
	
}

h3
{
	font-size: 25px;
	text-transform: uppercase;
}

.poste
{
	font-size: 15px;
	padding-top: 1em;
}

.nat
{
	color: #43A047;
}

.up	
{
	padding-left: 20px;
}

header h1 .fas
{
	color: #43A047;
	font-size: 20px;
	padding-left: 2px;
}

header h1 p
{
	text-align: justify;
}

#trait_dessous
{
	border-top: 2px solid #43A047;
	
}

.puce1, .puce2
{
	display: flex;
	justify-content: space-around;
}

.puce11, .puce21
{
	width: 300px;
}

.expp1, .expp2, .expp3
{
	display: flex;
	justify-content: space-around;
}

.expp11, .expp21, .expp31
{
	width: 300px;
}


#end
{
	display: flex;
	justify-content: space-between;
}

.banque
{
	padding-right: 100px;
}

.ong
{
	padding-right: 40px;
}





































