
html/*ok*/
{
	font-family: 'Caveat', cursive;
	font-family: 'Comic Neue', cursive;
	font-family: 'Satisfy', cursive;
	font-family: 'Bitter', serif;
	font-size: 13px;
}

.page
{
	width: 210mm;
	height: 290mm;
	margin: auto;
}

section/*ok*/
{
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 1em;
}

#gauche /*ok*/
{
	width: 30%;	
	background-color: #43A047;
	
}

#photo /*ok*/
{
	position: relative;
	top: 10px;
	left: 65px;
    overflow:hidden; /*gérer dépassement d'un élément dans un bloc*/
    -webkit-border-radius:50px;/*safari*/
    -moz-border-radius:50px; /*FF*/
    border-radius:50%; /*IE*/
    width:100px;
    height: 100px;
    margin-bottom: 35px;
    margin-top: 20px;
}

.left/*ok*/
{
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
	background-color: #212121;
	color: #43A047;
	flex-wrap: wrap;
}

.contact p/*ok*/
{
	margin-top: 1px;
	padding: 20px;
	height: 10px;
	
}

.apropo/*ok*/
	{
		height: 500px
	}

.apropo p/*ok*/
{
	padding: 20px;
	height: 10px;
	text-align: justify;
}


#loisir/*en cours*/
{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	padding-left: 5px;
	padding-right: 5px;
	height: 2%;

}

#loisir .fas/*ok*/
{
	font-size: 20px;
	width: 20px;
	height: 20px;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid black;
	border-color: #212121;
	color: #212121;
}

#droite/*ok*/
{
	width: 70%;
}

#head/*ok*/
{
	padding: 20px; 
}

.dev
{
	border-bottom: 2px solid;
	border-color: #43A047;
	padding-bottom: 1px;
	
}

h3
{
	font-size: 25px;
	text-transform: uppercase;
}

.poste
{
	font-size: 15px;
	padding-top: 1em;
}

.nat/*ok*/
{
	color: #43A047;
}

.up/*en cours*/	
{
	padding-left: 30px;
}

header h1 .fas/*ok*/
{
	color: #43A047;
	font-size: 20px;
	padding-left: 2px;
}

header h1 p
{
	text-align: justify;
}

#trait_dessous/*en cours*/
{
	border-top: 2px solid #43A047;
	
}

ul li:before;
{
	text-decoration-color: #43A047;
}


.puce1
{
	display: grid;
	grid-template-columns: 1fr 2fr;
	
	
}

.puce2
{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: minimax(25px, auto); 
}

.expp1, .expp2, .expp3
{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: minimax(25px, auto);
}



#end/*ok*/
{
	display: flex;
	justify-content: space-between;
}

.banque/*ok*/
{
	padding-right: 100px;
}

.ong/*ok*/
{
	padding-right: 40px;
}





































